.search-wrapper{
    position: relative;
}
.search-field{
    background-color: #2e2e2e;
    border-radius: 4px;
    border:none;
    padding:6px 10px;
    width: 100%;
    color: #8f9198;
}
.search-field:focus{
    border: none;
    outline: none;
}
.icon{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 0;
    cursor: pointer;
}
.show-modal-btn{
    cursor: pointer;
    color: rgba(78,172,109,0.8);
    font-size: 23px;
    transition: all 0.2s;
    transform: translateY(3px);
}
.show-modal-btn:hover{
    color: var(--primary-green);
}