.wrapper{
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 4px;
    padding: 0 2px;
    transition: all 0.2s;
}
.wrapper:hover{
    background-color: rgba(78,172,109,0.3);
    color: #ffff;
}
.wrapper:hover .msg-badge {
    color:#ffff ;
    background-color: rgba(246,246,249,.25) ;
}
.msg-badge{
    background-color: rgba(143,145,152,0.18) ;
    color: #8f9198 ;
    padding: 0.1rem 0.25rem ;
    z-index: 10 ;
    border-radius: 4px;
}
.add-btn{
    background-color: var(--primary-green) !important;
}
.add-btn , .decline-btn{
    padding: 1px 10px !important;
    border: none !important;
    color: #FFFFFFCC;
    font-weight: 300 !important;
}
.add-btn:hover{
    background: var(--secondary-green);
}
.add-btn:focus ,.decline-btn:focus{
    box-shadow: none !important;
}
.add-conversation-btn{
    cursor: pointer;
    color: rgba(78,172,109,0.8);
    font-size: 23px;
    transition: all 0.2s;
    transform: translateY(3px);
}
.add-conversation-btn:hover{
    color: var(--primary-green);
}
